{% extends "layout.html" %}
{% block content %}
    <h1>{{title}} </h1>
    <p style="color:#A9A9A9">AL20200612</p>
	<p>Dette er vores prototype til faget Udvikling af informationssystemer (UIS)</p>

	<p>Dette er vores prototype der fremviser forskellige aspekter vi mener kunne
		forbedre vores gruppes oplevelse når de gør brug af platformen i deres daglige virke</p>

<p>Udviklet og designet af: Jasmin Pedersen, Jonatan Geysner Hvidberg & Emil Bæk Henriksen</p>



<div class="qoutes" style="color: #248242"><blockquote><em> "To err is human, but to really foul things up you need a computer."</em></blockquote></div>
            <div class="names" style="color: #248242">- Paul R. Ehrlich </div>
{% endblock content %}

